@{
    ViewData["Title"] = "Home Page";
}



<div id="TOPBAR" class="container">
    <div class="row">
        <div class="col-sm-10"><h2>Hi &nbsp<span>@ViewBag.CurUser.userName!</span></h2></div>
        <div class="col-sm-1"><h2><a href="/proffessional_profile"><button class="btn btn-info">My Profile</button></a></h2></div>
        <div class="col-sm-1"><h2><a href="/logout"><button class="btn btn-danger">Logout</button></a></h2></div>
    </div>
</div><hr>

<div id="CENTER" class="container col-sm-6">
    <h3>Users you may want to connect with</h3>
    <div class="well col-sm-12">
        <div class="row ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>List of all users</label>
                </div>
                <table class="table table-fixed ">
                    <thead>
                        <tr>
                            <th class="col-xs-8">Names</th>
                            <th class="col-xs-4">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        
                        @foreach( var users in ViewBag.filteredUsers )
                        {
                            if( @ViewBag.CurUser.UserId != @users.UserId )
                            {
                                <tr>
                                    <td class="col-xs-7">
                                        <spa><a href="/user/@users.UserId">@users.userName</a></spa>
                                    </td>
                                    <td class="col-xs-5">
                                        <form action="/connect/@users.UserId" method="POST">  
                                            &nbsp &nbsp &nbsp <button class="btn btn-success" type="submit">Connect</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div> <!--Row ends here-->
    </div> 
    <!--Well ends here-->
</div> <!--Container ends here-->

